<div class="chat-header">
  <div class="chat-title">
    <a href="/"><i class="fas fa-angle-left" id="to-group"></i></a>
    <%= link_to  @room.name, edit_room_path(@room.id), class: 'chat-title-name' %>
  </div>
    <% if @room.manager == current_user.id %>
      <div class="chat-close-btn">
        <%= link_to room_path(@room), id: 'delete-room-btn', :method => :delete do %>
          <i class="fas fa-door-open fa-1x"></i>
        <% end %>
      </div>
    <% end %>
</div>

<div class="messages" id= "messages">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: 'form', id:'form' do |f| %>
    <div class="form-input">
     <%= f.text_field :content , class: 'form-message', placeholder: '金額を入力して下さい', id: 'content' %>
     <%# <%= f.number_field :calculation , class: 'form-calculate', placeholder: '数値' %>
      <label class="form-image">
          <span class="image-file"><i class="fas fa-receipt fa-2x"></i></span>
          <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
      <%= f.button :type => "submit", style: 'border-style: none;', id: 'form-submit' do %>
       <%# <%= f.submit '送信', class: 'form-submit', id: 'form-submit' %>
      <i class="far fa-paper-plane fa-2x"></i>
      <% end %>
<% end %>
