<div class="message">
  <div class="more">
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul class="more_list">
      <li>
        <%= link_to '削除', room_message_path(@room, message) , method: :delete %>
      </li>
      <li>
        <%= link_to '期日', "#",  class: "due-date" %>
      </li>
      <li>
        <%= check_box_tag :check1 %>
        <%= label_tag :check1, "支払い済み" %>
      </li>
    </ul>
  </div>
  <div class="upper-message">
    <div class="message-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.name %>

    </div>
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %>

    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= "YOU ON ME!" %><br>
      <% if message.content %>
      <%= @room.currency.name %><%= message.content.to_s(:delimited) %><br>
      <div class="lower-sub-message">
        <%= "換算額は¥#{(message.content / @room.price * 100).floor.to_s(:delimited)}" %><br>
        <%= "#{@room.number}人で割った1人分の金額は#{@room.currency.name}#{(message.content / @room.number).to_s(:delimited)}" %><br>
        <%= "#{@room.number}人で割った1人分の換算額は¥#{(message.content / @room.price * 100 / @room.number).floor.to_s(:delimited)}" %>
      <% end %>
      </div>
    </div>
    <%= image_tag message.image.variant(resize: '300x300'), class: 'message-image' if message.image.attached? %>
  </div>
</div>