<div class="message">
  <div class="right_content">
   <ul class="menu">
    <% if message.user_id == current_user.id  %>
      <li><a href=""><i class="fas fa-angle-down fa-2x"></i></a>
          <ul>
            <li><%= link_to '削除', room_message_path(@room, message) , method: :delete, class: "right_list" %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="upper-message">
    <div class="message-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.name %>

    </div>
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at, format: :short %>

    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <% if message.content %>
          <b><%= "支払額 #{@room.currency.name}" %><%= message.content.floor(2).to_s(:delimited) %></b><br>
        <% if @room.user_ids.length != 1 %>
          <b><%= "#{@room.number}人で割った1人分の金額は #{@room.currency.name}#{(message.content / @room.number).floor(2).to_s(:delimited)}" %></b>
        <% end %>
          <div class="lower-sub-message">
         <% if @room.currency_id != 10 %>
          <%= "支払いの換算額 ¥#{(message.content / @room.price * 100).floor(0).to_s(:delimited)}" %><br>
        <% end %>
        <% if @room.user_ids.length != 1 && @room.currency_id != 10 %>
          <%= "#{@room.number}人で割った1人分の換算額は ¥#{(message.content / @room.price * 100 / @room.number).floor().to_s(:delimited)}" %>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= image_tag message.image.variant(resize: '300x400'), class: 'message-image' if message.image.attached? %>
  </div>
</div>

