<div class='chat-room-form'>
  <h1><i class="fas fa-user-friends fa-1x"></i>グループ編集</h1>
  <%=form_with model: @room, local: true do |f|%>
  <%= render 'shared/error_messages', model: @room %>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :グループ名, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'グループ名を入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>メンバー</label>
      </div>
      <div class='chat-room-form__field--right'>
        <select name="room[user_ids][]">
          <option value="">ユーザーを選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%=user.id%>><%= user.name %></option>
          <% end %>
        </select>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %> >
      </div>
      <%# チャットメンバー選択フォーム %>
      <div class='chat-room-form__field--right'>
        <select name="room[user_ids][]">
          <option value="">ユーザーを選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%=user.id%>><%= user.name %></option>
          <% end %>
        </select>
      </div>
      <div class='chat-room-form__field--right'>
        <select name="room[user_ids][]">
          <option value="">ユーザーを選択してください</option>
          <% User.where.not(id: current_user.id).each do |user| %>
            <option value=<%=user.id%>><%= user.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <%# チャットメンバー選択フォーム %>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :レート, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :price, class: 'chat__room_name chat-room-form__input', placeholder: '100円分の換算したい通貨を入れて下さい'%>
        <%= f.collection_select(:currency_id, Currency.all, :id, :name, {}, {class:"", id:""}) %>

      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit '作成',class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>